/*-- google font --*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root {
    /*-- color --*/
    --color-primary: #2f57ef;
    --color-secondary: #b349ff;
    --color-danger: #DC281E;
    --color-warning: #FFC107;
    --color-violet: #d806d8;
    --color-coral: #E9967A;
    --color-pink: #DB7093;
    --color-heading: #192335;
    --color-body: #6b7385;
    --color-success: #3EB75E;

    // white
    --color-white: #ffffff;
    --color-white-off: #FFFFFFAB;

    // dark
    --color-dark: #27272E;
    --color-darker: #192335;
    --color-black: #111113;

    // gray
    --color-gray1: #A1A9AC;
    --color-gray2: #f4f5f7;
    --color-gray3: rgba(207, 207, 207, .24);
    --color-gray-light: #F6F6F6;
    --color-gray-lighter: #ebebeb;

    // Opacity color
    --primary-opacity: #2f57ef21;
    --secondary-opacity: #b966e721;
    --white-opacity: #ffffff21;
    --danger-opacity: #FF000310;
    --warning-opacity: #FF8F3C10;
    --violet-opacity: #d806d817;
    --coral-opacity: #e9967a23;
    --pink-opacity: #db709431;
    --success-opacity: #3EB75E10;
    --black-opacity: rgba(0, 0, 0, 0.04);

    /*-- transparent color --*/
    --primary-transparent: hsla(240, 100%, 50%, 0.05);

    /*-- Gradient --*/
    --gradient-btn-1: linear-gradient(to right, #673AB7 0%, #512DA8 51%, #673AB7 100%);
    --gradient-btn-2: linear-gradient(to right, #f46b45 0%, #eea849 51%, #f46b45 100%);
    --gradient-btn-3: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
    --gradient-btn-4: linear-gradient(to right, #DCE35B 0%, #45B649 51%, #DCE35B 100%);
    --gradient-btn-5: linear-gradient(to right, #ee0979 0%, #ff6a00 51%, #ee0979 100%);
    --gradient-btn-6: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
    --gradient-btn-7: linear-gradient(to right, #F00000 0%, #DC281E 51%, #F00000 100%);
    --gradient-btn-8: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
    --gradient-btn-9: linear-gradient(to right, #C02425 0%, #F0CB35 51%, #C02425 100%);
    --gradient-btn-10: linear-gradient(to right, #fe8c00 0%, #f83600 51%, #fe8c00 100%);
    --gradient-btn-rainbow: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%) --gradient-rainbow: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);


    /*-- transition --*/
    --transition: 0.3s;
    --transition-1: all 0.4s ease-in-out;
    --transition-2: 256ms ease-in-out;
    --transition-3: transform .85s cubic-bezier(.23, 1, .32, 1), background .3s, border .3s, border-radius .3s, box-shadow .3s;
    --transition-4: all .25s cubic-bezier(.645, .045, .355, 1);

    /*-- font family --*/
    --font-primary: "Golos Text", sans-serif;

    /*-- font weight --*/
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    /*-- font size --*/
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-34: 34px;
    --fs-36: 36px;
    --fs-38: 38px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-52: 52px;
    --fs-56: 56px;
    --fs-58: 58px;

    /*-- heading font size --*/
    --fs-h1: 56px;
    --fs-h2: 44px;
    --fs-h3: 32px;
    --fs-h4: 24px;
    --fs-h5: 20px;
    --fs-h6: 18px;

    /*-- border radius --*/
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-44: 44px;
    --radius-full: 100%;

    /*-- shadow --*/
    --shadow-1: 0px 6px 34px rgba(215, 216, 222, 0.41);
    --shadow-2: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
    --shadow-3: 0 5px 15px 0 rgba(85, 74, 101, 0.37);
    --shadow-5: 0px 20px 70px 0px rgba(0, 0, 0, 0.1);
    --shadow-7: 0px 15px 30px -2px rgba(0, 0, 0, 0.1);
    --shadow-8: -5px 18px 60px 0 rgba(210, 210, 234, 0.4);
    --shadow-9: 0 13px 48px 0 rgba(215, 216, 222, 0.44);
    --shadow-10: 0 13px 14px 0 rgba(129, 104, 145, 0.05);
    --shadow-11: 0 0 10px 0 rgba(0, 0, 0, 0.06);

    /*-- gap --*/
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-20: 20px;
    --gap-24: 24px;

    /*-- Gradient --*/
    /*-- Gradient --*/
    /*-- Gradient --*/

}


/*-- Reset Styles --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background: var(--color-gray-light);
    color: var(--color-body);
}